*.dat
*.gz
*.fa
*.fasta
*.fq
*.fastq
*.sra
*.h5
*.metadata.xml
*.sam
*.bam
*.bam.bai
*.bam.pbi
*.vcf
*.npy
*.ser
*.svg
*.png
*.tmp*
*.swp
*.tgz
*.pickle
*.pkl
*.stats
*log*

data/
figures/
venv/

__pycache__/
minialign/
minialign_centromere/
squeakr/
read_squeakr/
pacbio/bbmap/
pacbio/fasta_to_fastq.pl
pacbio/seqkit
pacbio/st
